<!DOCTYPE html>
<html>
<head>
	<title>Cheesus</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<%= link_to image_tag("cheesus.png", :height=> "100"), "/" %>
				<div id="title"><a href="/">Cheesus </a> <p>"Book your last supper!"</p></div>
				</div>
				<p class="cuserinfo">
				<% if c_current_user  %>
				Signed in as <%= c_current_user.name %>. <%= link_to "Log out", c_session_path("current"), :method => :delete %>
				<% elsif r_current_user %>
				Signed in as <%= r_current_user.name %>. <%= link_to "Log out", r_session_path("current"), :method => :delete %>
				<% else %>
				<%= link_to "Log in", new_c_session_path %> or <%= link_to "Sign up", new_c_user_path %>
				<% end %>
			</p>
		</div>
	</nav>
	<div id="main-container" class="container">
		<% if flash[:notice] %>
		<p id="notice"><%= flash[:notice] %></p>
		<% end %>
		<% if flash[:alert] %>
		<p id="alert"><%= flash[:alert] %></p>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
