<%= form_tag c_sessions_path do %>
	<h2> Please sign in</h2>
		<div class="field">
			<%= label_tag :email %><br/>
			<%= text_field_tag :email, params[:email] %>
		</div>
		<div class="field">
			<%= label_tag :password %><br/>
			<%= password_field_tag :password %>
		</div><br/>
		<div class="actions">
			<%= button_tag "Log in" %>
		</div>
	<br/>
	<%= link_to "Go Back", root_path %>
	<p>Not a customer? If you are a restaurant owner, please <%= link_to "Log In", new_r_session_path %> or <%= link_to "Sign Up", new_r_user_path %>.</p>
<% end %>
