<center><h1>Restaurant List</h1>

      <div class="search">
      <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.text_field :name_cont %>
      </div><br/>
      <div class="actions"><%= button_tag "Search", class: "btn btn-warning" %></div>
      <% end %>
    </div>
</center>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= sort_link @search, :name, "Name" %></th>
      <th><%= sort_link @search, :cuisine_type, "Cuisine" %></th>
      <th><%= sort_link @search, :location, "Location" %></th>
      <th><%= sort_link @search, :price, "Price" %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <% @restaurant.each do |restaurant| %>
      <td><%= link_to image_tag(restaurant.picture, :height=> "80"), "/restaurants/#{restaurant.id}" %></td>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.cuisine_type %></td>
      <td><%= restaurant.location %></td>
      <td>
        <% restaurant.price %>
        <% case restaurant.price %>
        <% when 1 %>
        $
        <% when 2 %>
        $$
        <% when 3 %>
        $$$
        <% when 4 %>
        $$$$
        <% end %>
      </td>
      <td><%= link_to 'Show', restaurant %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<% if r_current_user %>
<button type="button" class="btn btn-warning">
<%= link_to 'Add New Restaurant', new_restaurant_path, class: "btn-restaurant" %>
</button>
<% end %>