<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@restaurant.picture, :height=> "80") %>
</p>


<p>
  <strong>Price:</strong>
  <%= @restaurant.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @restaurant.cuisine_type %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @restaurant.feature %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>

<p>
  <strong>Open:</strong>
  <%= @restaurant.open %>
</p>

<p>
  <strong>Close:</strong>
  <%= @restaurant.close %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @restaurant.capacity %>
</p>

<!-- For reservation input -->
<%= form_for([@restaurant, @reservation]) do |f| %>
<div class="field">
  <%= f.label :party_size %><br />
  <%= f.number_field :party_size %>
</div>

<div class="field">
  <%= f.label :arrive_time %><br />
  <%= f.time_select(:arrive, discard_minute: true, prompt: {hour: 'Choose Hour'}, start_hour: @restaurant.open, end_hour: @restaurant.close)%>
</div>

<div class="field">
  <%= f.label :date %><br />
  <%= f.date_select(:date, :start_year => Date.current.year, :end_year => Date.current.year + 1)  %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>


<h3>Reviews</h3>

<p>Reviews for <%= @restaurant.name %></p>

<% @restaurant.reviews.each do |review| %>
<p>
  <%= review.comments %>
  <br>
  <% if review.c_user != nil %>
  <em> by <%= review.c_user.name %></em>
  Added on: <%= review.created_at %>
  <% end %>
</p>
<% end %>

<% if @review.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

  <ul>
    <% @review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if c_current_user %>
<h4>New Review</h4>

<%= form_for([@restaurant, @review]) do |f| %>
<div class="field">
  <%= f.label :comments %><br />
  <%= f.text_area :comments, size: "60x12"%>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
