<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @restaurant.picture %>
</p>


<p>
  <strong>Price:</strong>
  <%= @restaurant.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @restaurant.cuisine_type %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @restaurant.feature %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>

<p>
  <strong>Open:</strong>
  <%= @restaurant.open %>
</p>

<p>
  <strong>Close:</strong>
  <%= @restaurant.close %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @restaurant.capacity %>
</p>

<% if @current_user %>

<h3>Reviews</h3>

  <p>Reviews for <%= @restaurant.name %></p>

  <% @restaurant.reviews.each do |review| %>
    <p>
      <%= review.comment %>
      <br>
      <% if review.c_user != nil %>
        <em> by <%= review.c_user.email %></em>
        Added on: <%= review.created_at %>
      <% end %>
    </p>
  <% end %>

    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <h4>New Review</h4>

  <%= form_for([@restaurant, @review]) do |f| %>
    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment, size: "60x12"%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
